extends layout

block header
  title Fight!

block content
  script(src="/socket.io/socket.io.js")
  script(src="/js/pixi.js")
  script(src="/js/client.js")
  form(method='post' action='userLogout')
    button(type='submit') logout
